.title_ct{color: #FFBC00;font-size: 20px;font-weight: bold !important;text-align: center;}

.main_top{padding: 6px 0px 0 0px;}
.infomation{width: 580px;}
.infomation p{width: 580px; display: block; height: 32px;padding: 6px; margin: 0;}
.infomation p label{width: 120px; height: 30px; line-height: 30px; display: block; float: left;}
.infomation p input[type="text"], .infomation p input[type="password"]{width: 250px; height: 18px; float: left; padding: 3px 6px; outline: none;}
.infomation p input[type="button"]{width: 60px; text-align: center; height: 26px;}
.infomation p select {
    width: 266px;
    height: 28px;
    float: left;
    outline: none;
    line-height: 28px;
}
.error_message{
    background: #009688;
    text-align: center;
    color: #fff;
    padding: 10px 1px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.btn_buy_now{
	background:url(../images/mua-ngay.png) no-repeat;
	background-size:100%;
	width:109px;
	height:29px;
	background-color: transparent;
    text-indent: -9999px;
    border: none;
	cursor:pointer
}